<launch>
  <arg name="bag_name" default="synchronized1.bag"/>

  <node pkg="msgs_synchronizer" type="msgs_synchronizer_node" name="msgs_synchronizer_node"/>

  <node pkg="rosbag" type="record" name="record" args="-O /home/sun/rosbags/1-synchronized/$(arg bag_name) /robot /vel /people /obstacles_new /robot_map_new /tf /tf_static /people/people_arrow_markers /people/people_cylinders_markers" output="screen"/>

</launch>
